
@{
    ViewData["Title"] = "Index";
}

@section scripts{
    <script type="text/javascript" src="js/Ativo/Index.js?@DateTime.Now"></script>
    <script type="text/javascript" src="~/js/Ativo/Index.js?@DateTime.Now"></script>
    <script src="https://unpkg.com/jspdf-autotable"></script>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyDcTq_bPe_rXv4LSs9j8m9ZnN7oFT8sXs4&sensor=false"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>
}

@*Pesquisar Ativos*@
<div class="d-sm-flex align-items-center justify-content-between mb-2">
    <h1 class="h3 mb-0 text-gray-800">Cadastro de Ativos</h1>
</div>
<hr />

<div class="card mb-4 shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <form action="javascript:ObterAtivos()">
            <input type="hidden" id="regional" value="@Context.Request.Cookies["Regiao"].ToString()" />
            <input type="hidden" id="filial" value="@Context.Request.Cookies["Filial"].ToString()" />
            <input type="hidden" id="regiaoFilial" value="@Context.Request.Cookies["RegiaoFilial"].ToString()" />
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xl-3">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                </div>
                                <input type="search" name="txtPesquisar" id="txtPesquisar" class="form-control" placeholder="Pesquisar" value="" autofocus autocomplete="off" />

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-xl-3">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                </div>
                                <select id="cbbRegiaoPesq" name="cbbRegiaoPesq " data-live-search="true" class="form-control selectpicker" required onchange="CarregarFiliaisPesq(this.value);">
                                    <option value="" selected>Região</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xl-2">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                </div>
                                <select id="cbbFilialPesq" name="cbbFilialPesq" class="form-control selectpicker" data-live-search="true">
                                    <option value="0" selected>Filiais Pertecente a Região Selecionado</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-xl-4 d-inline">
                        <button type="submit" id="btnPesquisar" name="btnPesquisar" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Pesquisar Regionais"><i class="fas fa-search"></i> <span>Pesquisar</span></button>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#novoAtivo" onclick="javascript: LimparCampos(); LockFields();" title="Novo Ativo"><i class="fas fa-plus"></i> <span>Ativo</span></button>
                        <button type="button" class="btn btn-danger" onclick="javascript:LimparTabela()" title="Limpar Tabela Regionais"><i class="fas fa-ban"></i> <span>Cancelar</span></button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xl-3">
                        <label><b><i class="fas fa-filter"></i> Filtro:</b></label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rdFiltro" id="rdFiltro1" value="Nome" checked onchange="AlterarRequeridoNome();">
                            <label class="form-check-label" for="rdFiltro1">Nome</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rdFiltro" id="rdFiltro2" value="Placa" onchange="AlterarRequeridoPlaca();">
                            <label class="form-check-label" for="rdFiltro2">Placa</label>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-xl-7">
                        <label><b><i class="fas fa-flag"></i> Status:</b></label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rdAtivo" id="rdAtivo1" value="1" checked>
                            <label class="form-check-label" for="rdAtivo1">Ativo</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rdAtivo" id="rdAtivo2" value="0">
                            <label class="form-check-label" for="rdAtivo2">Inativo</label>
                        </div>
                    </div>

                </div>

            </div>
        </form>
    </div>
</div>
<iframe id="txtArea1" style="display:none"></iframe>
@*Tabela Ativo*@
<div id="tbbAtivo" style="display:none" class="card mb-4">
    <div class="card-header">
        <i class="fa fa-table"></i>
        <span><b>Ativos Cadastrados</b></span>
    </div>
    <div class="card-body">
        <div class="table-responsive-xl table-responsive-sm table-responsive-md">
            <table id="tableAtivo" class="table table-sm table-hover" style="width:100%"></table>
        </div>
    </div>
</div>


@*Novo Ativo*@
<div id="novoAtivo" class="modal fade bd-example-modal-xl" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="novoAtivoLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Cadastrar Ativos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    
                    <form name="formRegional" id="formRegional" action="javascript: Gravar();" method="post" >
                        <input type="hidden" id="minhaImagemHidden" name="minhaImagemHidden" value="" />
                        <input type="hidden" id="validaPlaca" name="validaPlaca" value="0" />

                        <div class="form-group">
                            <label for="cbbTpAtivo">Tipo Ativo <label style="color:red">*</label></label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                </div>
                                <select id="cbbTpAtivo" name="cbbTpAtivo" class="form-control selectpicker" data-live-search="true" required onchange="PreencherValor(this);">
                                    <option value="" selected>Tipo Ativo</option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <input type="hidden" name="txtId" id="txtId" value="0" />

                            <div class="card mb-4 shadow p-3 mb-5 bg-white rounded" id="cardRegional">
                                <div class="card-header">
                                    <i class="fa fa-table"></i>
                                    <span><b>Regionais, Filiais e Salas</b></span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="cbbRegional">Regional <label style="color:red">*</label></label>
                                                <div class="input-group">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                                    </div>
                                                    <select id="cbbRegional" name="cbbRegional" class="form-control selectpicker" data-live-search="true" required onchange="javascript:LimparCombo('cbbFilial');LimparCombo('cbbSala'); CarregarFiliais(this); ">
                                                        <option value="" selected>Regionais</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4" id="linhaFilial" style="display:none">
                                            <div class="form-group">
                                                <label for="cbbFilial">Filial <label style="color:red">*</label></label>
                                                <div class="input-group">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                                    </div>
                                                    <select id="cbbFilial" name="cbbFilial" class="form-control selectpicker" data-live-search="true" onchange="javascript:LimparCombo('cbbSala'); BuscarSalas(this);">
                                                        <option value="" selected>Filiais da Regional</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4" id="sala" style="display:none">
                                            <div class="form-group">
                                                <label for="cbbSala">Local <label style="color:red">*</label></label>
                                                <div class="input-group">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                                    </div>
                                                    <select id="cbbSala" name="cbbSala" class="form-control selectpicker" data-live-search="true">
                                                        <option value="" selected>Salas da Filial</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="divAlertaPlaca" class="alert alert-danger col-lg-8" role="alert" style="display:none"></div>

                            </div>
                            <input type="hidden" name="txtIdNotaFiscal" id="txtIdNotaFiscal" value="0" />

                            <div class="card card-body" style="border-radius: 4px; border-left: 4px solid blue;">
                                <div class="d-sm-flex align-items-center justify-content-between mb-0">
                                    <h1 class="h6 mb-0 text-gray-800">Dados Fiscais</h1>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="txtNumeroNota">Nº Nota <label style="color:red">*</label></label>
                                            <div class="input-group">
                                                <div class="input-group-append">
                                                    <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                                </div>
                                                <input class="form-control" type="number" name="txtNumeroNota" id="txtNumeroNota" autocomplete="off" maxlength="30" required />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="txtValorNota">Valor <label style="color:red">*</label></label>
                                            <div class="input-group">
                                                <div class="input-group-append">
                                                    <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-dollar-sign"></i></div>
                                                </div>
                                                <input class="form-control money" type="text" name="txtValorNota" id="txtValorNota" autocomplete="off" maxlength="30" required />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="txtDataEmissao">Data Emissão <label style="color:red">*</label></label>
                                            <div class="input-group">
                                                <div class="input-group-append">
                                                    <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-dollar-sign"></i></div>
                                                </div>
                                                <input class="form-control" type="date" name="txtDataEmissao" id="txtDataEmissao" autocomplete="off" maxlength="30" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="txtFornecedor">Fornecedor <label style="color:red">*</label></label>
                                            <div class="input-group">
                                                <div class="input-group-append">
                                                    <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-dollar-sign"></i></div>
                                                </div>
                                                <input class="form-control" type="text" name="txtFornecedor" id="txtFornecedor" autocomplete="off" maxlength="30" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="txtCnpj">CNPJ <label style="color:red">*</label></label>
                                            <div class="input-group">
                                                <div class="input-group-append">
                                                    <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                                </div>
                                                <input class="form-control" type="text" name="txtCnpj" id="txtCnpj" autocomplete="off" maxlength="30" required data-mask="00.000.000/0000-00" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="fuDoc">Documento</label>
                                            <div class="input-group">
                                                <div class="custom-file" id="customFile" lang="pt-br">
                                                    <input type="file" class="custom-file-input" id="fuDoc" aria-describedby="fileHelp" onchange="SalvarAnexo()">
                                                    <label class="custom-file-label" for="fuDoc" id="labelDoc">
                                                        Selecione o Documento
                                                    </label>
                                                </div>
                                                <div class="input-group-append">
                                                    <button class="btn btn-success" type="button" id="btnSalvarDoc" onclick="javascript: SalvarAnexo();">Anexar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6" id="anexo" style="display:none">
                                        <div class="form-group">
                                            <label for="nomeAnexo" style="color:white">.</label>
                                            <input type="hidden" id="hdAnexo" name="hdAnexo" value="" />

                                            <div class="input-group-append">
                                                <a id="linkAnexo" href="#" target="_blank" class="stretched-link" style="width: 100%;">
                                                    <input class="form-control" type="text" id="nomeAnexo" disabled />
                                                </a>
                                                <button class="btn btn-danger" type="button" onclick="javascript: LimparAnexo();">X</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="divAlertaAnexo" class="alert alert-danger col-lg-6" role="alert" style="display:none"></div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="txtPlaca">Placa <label style="color:red">*</label></label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                            </div>
                                            <input class="form-control" type="number" name="txtPlaca" id="txtPlaca" required autocomplete="off" maxlength="30" onchange="javascript: ValidarPlaca(this);" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="txtTag">Tag </label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                            </div>
                                            <input class="form-control" type="text" name="txtTag" id="txtTag" autocomplete="off" maxlength="30" disabled />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="cbbEstado">Estado <label style="color:red">*</label></label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-map"></i></div>
                                            </div>
                                            <select id="cbbEstado" name="cbbEstado" class="form-control" required>
                                                <option value="" selected>Estado</option>
                                                <option value="Novo" selected>Novo</option>
                                                <option value="Usado">Usado</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="txtObservacao">Observacao </label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                            </div>
                                            <input class="form-control" type="text" name="txtObservacao" id="txtObservacao" autocomplete="off" maxlength="30" disabled />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="txtDescricao">Descricao <label style="color:red">*</label></label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                            </div>
                                            <input class="form-control" type="text" name="txtDescricao" id="txtDescricao" required autocomplete="off" maxlength="30" disabled />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="txtNumSerie">Numero de Serie <label style="color:red">*</label></label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                            </div>
                                            <input class="form-control" type="text" name="txtNumSerie" id="txtNumSerie" required autocomplete="off" maxlength="30" disabled />
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row" id="marcaMod">

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="txtMarca">Marca <label style="color:red">*</label></label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                            </div>
                                            <input class="form-control" type="text" name="txtMarca" id="txtMarca" required autocomplete="off" maxlength="30" disabled />
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="txtModelo">Modelo <label style="color:red">*</label></label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                            </div>
                                            <input class="form-control" type="text" name="txtModelo" id="txtModelo" required autocomplete="off" maxlength="30" disabled />
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row" id="marcaModV" style="display:none">
                                <input type="hidden" id="codFipe" name="codFipe" value="" />
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="cbbtpVeiculo">Tipo de Veículo <label style="color:red">*</label></label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                            </div>
                                            <select onchange="buscaMarcas(this.value)" id="cbbtpVeiculo" name="cbbtpVeiculo" class="form-control selectpicker" data-live-search="true" required>
                                                <option value="" selected>Tipo de Veículo</option>
                                                <option value="caminhoes">Caminhão</option>
                                                <option value="carros">Carro</option>
                                                <option value="motos">Moto</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="cbbMarcaV">Marca do Veículo <label style="color:red">*</label></label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                            </div>
                                            <select onchange="buscaModelos(this.value)" id="cbbMarcaV" disabled name="cbbMarcaV" class="form-control selectpicker" data-live-search="true" required>
                                                <option value="" selected>Marca do Veículo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="cbbModeloV">Modelo do Veículo <label style="color:red">*</label></label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                            </div>
                                            <select onchange="buscaVersoes(this.value)" id="cbbModeloV" disabled name="cbbModeloV" class="form-control selectpicker" data-live-search="true" required>
                                                <option value="" selected>Modelo do Veículo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="AnoVeiculo" style="display:none">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="cbbAnoVeiculo">Versão Veículo <label style="color:red">*</label></label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                            </div>
                                            <select onchange="registraFipe(this.value)" disabled id="cbbAnoVeiculo" name="cbbAnoVeiculo" class="form-control selectpicker" data-live-search="true" required>
                                                <option value="" selected>Versão Veículo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="txtCor">Cor do Veículo <label style="color:red">*</label></label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                            </div>
                                            <input class="form-control" type="text" name="txtCor" id="txtCor" required autocomplete="off" maxlength="30" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="txtPlavaV">Placa do Veículo <label style="color:red">*</label></label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                            </div>
                                            <input class="form-control" type="text" name="txtPlavaV" id="txtPlavaV" required autocomplete="off" maxlength="30" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="InfoVeiculo" style="display:none">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="txtPrecoV">Valor <label style="color:red"></label></label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-building"></i></div>
                                            </div>
                                            <input class="form-control" type="text" name="txtPrecoV" id="txtPrecoV"  autocomplete="off" maxlength="30" disabled />

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="upCRLV" style="display:none">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="fuCRLV">CRLV</label>
                                        <div class="input-group">
                                            <div class="custom-file" id="customFile" lang="pt-br">
                                                <input type="file" class="custom-file-input" id="fuCRLV" aria-describedby="fileHelp" onchange='SalvarAnexo("fuCRLV", "btnCRLV", "CRLV", "CRLV", true)'>
                                                <label class="custom-file-label" for="fuCRLV" id="labelDoc">
                                                    Selecione o Documento
                                                </label>
                                            </div>
                                            <div class="input-group-append">
                                                <button class="btn btn-success" type="button" id="btnCRLV" onclick='javascript: SalvarAnexo("fuCRLV", "btnCRLV", "CRLV", "CRLV", true);'>Anexar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6" id="CRLV" style="display:none">
                                    <div class="form-group">
                                        <label for="nomeCRLV" style="color:white">.</label>
                                        <input type="hidden" id="hdCRLV" name="hdCRLV" value="" />

                                        <div class="input-group-append">
                                            <a id="linkAnexo" href="#" target="_blank" class="stretched-link" style="width: 30%;">
                                                <img style="width: 100%;" id="nomeCRLV" />
                                            </a>
                                            <button class="btn btn-danger" type="button" onclick="javascript: LimparAnexo('CRLV', 'CRLV', 'btnCRLV');">X</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="divAlertaCRLV" class="alert alert-danger col-lg-6" role="alert" style="display:none"></div>
                            </div>

                            <div class="row" id="upDut" style="display:none">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="fuDUT">DUT</label>
                                        <div class="input-group">
                                            <div class="custom-file" id="customFile" lang="pt-br">
                                                <input type="file" class="custom-file-input" id="fuDUT" aria-describedby="fileHelp" onchange='SalvarAnexo("fuDUT", "btnDUT", "DUT", "DUT", true)'>
                                                <label class="custom-file-label" for="fuDUT" id="labelDoc">
                                                    Selecione o Documento
                                                </label>
                                            </div>
                                            <div class="input-group-append">
                                                <button class="btn btn-success" type="button" id="btnDUT" onclick='javascript: SalvarAnexo("fuDUT", "btnDUT", "DUT", "DUT", true);'>Anexar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6" id="DUT" style="display:none">
                                    <div class="form-group">
                                        <label for="nomeDUT" style="color:white">.</label>
                                        <input type="hidden" id="hdDUT" name="hdDUT" value="" />

                                        <div class="input-group-append">
                                            <a id="linkAnexo" href="#" target="_blank" class="stretched-link" style="width: 30%;">
                                                <img style="width: 100%;" id="nomeDUT" />
                                            </a>
                                            <button class="btn btn-danger" type="button" onclick="javascript: LimparAnexo('DUT', 'DUT', 'btnDUT');">X</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="divAlertaDUT" class="alert alert-danger col-lg-6" role="alert" style="display:none"></div>
                            </div>
                                <hr />
                                <div class="row" id="modalArquivo">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="fuArquivo">Fotos do Ativo</label>
                                            <div class="input-group">
                                                <div class="custom-file" id="customFile" lang="pt-br">
                                                    <input type="file" class="custom-file-input" id="fuArquivo" aria-describedby="fileHelp" required disabled>
                                                    <label class="custom-file-label" for="fuArquivo" id="labelFoto">
                                                        Selecione a Foto
                                                    </label>
                                                </div>
                                                <div class="input-group-append">
                                                    <button class="btn btn-success" type="button" onclick="javascript: SalvarFotos();" id="btnSalvarFotos">Adicionar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="divAlerta" class="alert alert-danger col-lg-6" role="alert" style="display:none"></div>
                                </div>
                                <hr />
                                <div class="card mb-4 shadow p-3 mb-5 bg-white rounded" style="display:none" id="modalFotos">
                                    <div class="card-header">
                                        <i class="fa fa-table"></i>
                                        <span><b>Fotos Adiconadas</b></span>
                                    </div>
                                    <input id="txtQtd" value="0" hidden />
                                    <div class="card-body" id="cardFotos">
                                        <div class="row" id="imagem">

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-8">
                                        (*) - Campos Obrigatórios
                                    </div>
                                </div><br />

                                <div class="d-inline">
                                    <button type="submit" name="btnConfirmar" id="btnConfirmar" class="btn btn-success"><i class="fas fa-check"></i> Confirmar</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>
                                </div>
                            </div>
</form>
                    </div>
                </div>

        </div>
    </div>
</div>

<div id="modalLocalizacao" class="modal fade bd-example-modal-lg" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="localizacaoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Localização Ativo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-group">
                        <div id="map" style="height: 400px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-info btn-md" data-dismiss="modal">Fechar <i class="fas fa-times ml-1"></i></button>
            </div>
        </div>
    </div>
</div>

@*Nova TipoAtivo*@
<div id="novaTipoAtivo" class="modal fade bd-example-modal-lg" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="novoTipoAtivoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Cadastrar TiposAtivo</h5>
                <button type="button" class="close" onclick="javascript: CancelarTipoAtivo();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form name="formTipoAtivo" id="formTipoAtivo" action="javascript:GravarTipoAtivo();" method="post">
                        <div class="form-group">
                            <input type="hidden" name="txtIdTpAtivo" id="txtIdTpAtivo" value="0" />
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label for="txtDescricaoTpAtivo">Descrição TipoAtivo *</label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-info"></i></div>
                                            </div>
                                            <input class="form-control" type="text" name="txtDescricaoTpAtivo" id="txtDescricaoTpAtivo" required autocomplete="off" maxlength="30" />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="txtValorTpAtivo">Valor Aproximado *</label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-dollar-sign"></i></div>
                                            </div>
                                            <input class="form-control" type="number" name="txtValorTpAtivo" id="txtValorTpAtivo" required autocomplete="off" maxlength="30" min="0" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="cbAtivo" checked>
                                        <label class="form-check-label" for="cbAtivo">Ativo</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8">
                                    (*) - Campos Obrigatórios
                                </div>
                            </div><br />

                            <div class="d-inline">
                                <button type="submit" name="btnConfirmarTipoAtivo" id="btnConfirmarTipoAtivo" class="btn btn-success"><i class="fas fa-check"></i> Confirmar</button>
                                <button type="button" class="btn btn-danger" onclick="CancelarTipoAtivo();"><i class="fas fa-ban"></i> Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="galeria" class="modal fade bd-example-modal-lg" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="localizacaoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Galeria Ativo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-group">
                        <div id="carouselExampleIndicators" class="carousel carousel-dark slide " data-ride="carousel">

                            <ol class="carousel-indicators" id="headerGaleria">
                            </ol>
                            <div class="carousel-inner" id="corpoGaleria">
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true" style="color:black;"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true" style="color:black;"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-info btn-md" data-dismiss="modal">Fechar <i class="fas fa-times ml-1"></i></button>
            </div>
        </div>
    </div>
</div>
