
@{
    ViewData["Title"] = "Index";
}
@section scripts{
    <script type="text/javascript" src="js/TipoAtivo/Index.js?@DateTime.Now"></script>
    <script src="https://unpkg.com/jspdf-autotable"></script>
}

@*Pesquisar TipoAtivo*@
<h2>Cadastro de Tipos de Ativos</h2>
<hr />
<div class="card mb-4 shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <form action="javascript:ObterTiposAtivos()">
            <div class="row form-group">
                <div class="col-lg-8">
                    <div class="input-group">
                        <div class="input-group-append">
                            <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-search"></i></div>
                        </div>
                        <input type="search" name="txtPesquisar" id="txtPesquisar" class="form-control" placeholder="Pesquisar" value="" autofocus autocomplete="off" />
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <label><b><i class="fas fa-filter"></i> Filtro:</b></label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rdFiltro" id="rdFiltro1" value="Descricao" checked>
                                <label class="form-check-label" for="rdFiltro1">Descrição</label>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <label><b><i class="fas fa-flag"></i> Status:</b></label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rdAtivo" id="rdAtivo1" value="1" checked>
                                <label class="form-check-label" for="rdAtivo1">Ativo</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rdAtivo" id="rdAtivo2" value="0">
                                <label class="form-check-label" for="rdAtivo2">Inativo</label>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="d-inline">
                    <button type="submit" id="btnPesquisar" name="btnPesquisar" class="btn btn-primary" title="Pesquisar Regionais"><i class="fas fa-search"></i> <span>Pesquisar</span></button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#novaTipoAtivo" onclick="javascript: LimparCampos();" title="Nova TipoAtivo"><i class="fas fa-plus"></i> <span>TipoAtivo</span></button>
                    <button type="button" class="btn btn-danger" onclick="javascript:LimparTabela()" title="Limpar Tabela TipoAtivo"><i class="fas fa-ban"></i> <span>Cancelar</span></button>
                </div>
            </div>
        </form>
    </div>
</div>
<iframe id="txtArea1" style="display:none"></iframe>
@*Tabela TipoAtivo*@
<div id="tbbTipoAtivo" style="display:none" class="card mb-4">
    <div class="card-header">
        <i class="fa fa-table"></i>
        <div class="float-right">
            <a style="padding-right:15px;" class="btn btn-info " role="button" href="javascript:GerarExcel();" title="Gerar Tabela Excel"><i class="fa fa-file-excel"></i> Excel</a>
            <a class="btn btn-info" role="button" href="javascript:GerarRelatorio();" title="Gerar Tabela PDF"><i class="fa fa-file-pdf"></i> Pdf</a>
        </div>
        <span><b>Tipos Ativo Cadastrados</b></span>
    </div>
    <div class="card-body">
        <div class="table-responsive-xl table-responsive-sm table-responsive-md">
            <table id="tableTipoAtivo" class="table table-sm table-hover" style="width:100%"></table>
        </div>
    </div>
</div>

@*Nova TipoAtivo*@
<div id="novaTipoAtivo" class="modal fade bd-example-modal-lg" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="novoTipoAtivoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Cadastrar TiposAtivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form name="formTipoAtivo" id="formTipoAtivo" action="javascript:Gravar();" method="post">
                        <div class="form-group">
                            <input type="hidden" name="txtId" id="txtId" value="0" />
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label for="txtDescricao">Descrição TipoAtivo *</label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-info"></i></div>
                                            </div>
                                            <input class="form-control" type="text" name="txtDescricao" id="txtDescricao" required autocomplete="off" maxlength="30" />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="txtDescricao">Valor Aproximado *</label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-dollar-sign"></i></div>
                                            </div>
                                            <input class="form-control" type="number" name="txtValor" id="txtValor" required autocomplete="off" maxlength="30" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="cbAtivo" checked>
                                        <label class="form-check-label" for="cbAtivo">Ativo</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8">
                                    (*) - Campos Obrigatórios
                                </div>
                            </div><br />

                            <div class="d-inline">
                                <button type="submit" name="btnConfirmar" id="btnConfirmar" class="btn btn-success"><i class="fas fa-check"></i> Confirmar</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>